<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title th:text="#{output.title}"></title>
</head>
<body>
    <h1 th:text="#{output.h1}"></h1>
    <h2 th:text="#{output.h2}"></h2>
    <p th:text="'入力された値は「' + ${val} + '」です。'"></p>
    <form method="post" action="/input">
        <input type="hidden" name="previous" value=${val}>
        <p><a th:href="@{/input(previous=${val})}" th:text="#{output.link}"></a></p>
    </form>
</body>
</html>